/* 
-------------ESTILOS DO CARRINHO DE COMPRAS ---------------------
*/


.carrinho {  
    display: flex;
    flex-direction: column-reverse; 
    padding: 1px;
    width: 100%;
    background-color: #696969;
    position: relative;
    height: 310px; 
    overflow: auto; 
    text-align: center;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}
.produtos {
    list-style-type: none;
    padding: 0; 
}
.produto {
    display: flex;   
    justify-content: space-between;
    padding: 1px 0;
    border-bottom: 1px solid #eee;
}
.nome {
    padding-left: 2px;
    text-align: left;
    margin-right: auto;
    flex-grow: 1;   
}
.preco,
.quantidade,
.remover {

    margin-left: 10px;
}
.produto:last-child {
    border-bottom: none; /* Remove a borda do último item */
}
.remover{
    background-color: #ff6b6b;
    color: #eee;
    border-radius: 5px;
    background-image: url(../img/bin.png);
    background-size: cover;
}
.button {
    cursor: pointer;
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

