
/* 
-------------ESTILOS DA TABELA DE CATEGORIA DOS PRODUTOS---------------------
*/


.menuDeProdutos {
    display: flex;
    flex-direction: column;   
    align-items: center;    
    gap: 5px;                    
}
.listaDeCategoria {
    width: 100%;
    overflow-x: scroll; 
    white-space: nowrap; 
    display: flex;
    padding-bottom: 8px;
    gap: 10px;    
    margin: auto;
}











 .listaDeProdutos {
    display: grid;                    
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(5, 60px);     
    gap: 5px;    
    margin: auto;
    padding: 2px;    
} 
.divDePaginacao{
    display: flex;    
}