
/* 
-------------ESTILOS DOS COMPONENTES E BOTOES DO SISTEMA---------------------
*/


.boataoDeAbasDeFunçoes {
    background-color: transparent;
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;   
}
.boataoDeAbasDeFunçoes:hover {
    background-color: greenyellow;
    box-shadow: 2px 2px 5px black;
}
.boataoDeAbasDeFunçoes:active { 
    box-shadow: inset 5px 5px 5px black;
}
.botaoRemoverCarrinho{
    width: 34px;
    height:34px;   
}
.botaoRemoverCarrinho:hover{
    background-color: rgba(255, 47, 47, 0.897);
    box-shadow: 2px 2px 5px black;   
}
.botaoRemoverCarrinho:active {
    background-image: url(../img/recycle-bin.png);
    background-size: cover;
    box-shadow: inset 1px 1px 1px black;   
}
.botaoDeProduto {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.fundoDoBotaoConteudo {     
    height: 100px;
    flex: 1;
}
.rodapeBotaoProduto {   
    width: 100%; 
    border: 1px solid #afafaf;
    border-radius: 3px 3px 0px 0px;  
    background-color: #c0bfbf;    
    padding: 1px;
    color: rgb(0, 0, 0);
    text-align: center;
    word-wrap: break-word; 
    white-space: normal;
    text-align: center;
    word-break: break-word;     
    overflow: hidden; 
}
.botaoDaCategoria{
    height: 3em;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    font-size: 14px;            
    padding: 10px 5px; 
    text-align: center;         
    white-space: nowrap;       
    min-width: 100px;
    max-width: 150px; 
}
.botaoDePaginacao{    
    
    width: 60px;
    background-color: #afafaf17;
    margin: 4px;
    height: 80%;
    padding:auto;
    border-radius:  50px;
}

