.menuDeProdutos {
    display: flex;
    flex-direction: column;   
    align-items: center;    
    gap: 10px;                
}

.listaDeCategoria {
    display: grid;                    
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(1, 70px);     
    gap: 10px;    
    margin: auto;
    

}
 .listaDeProdutos {
    display: grid;                    
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(5, 60px);     
    gap: 5px;    
    margin: auto;
    
} 