* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #bdbdbd;
    color: #dadde0;
    padding: 10px 50px 0 50px;
    font-size: 2rem;
  }
  
  .container {
    background-color: #292c35e8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 400px 70px;
    grid-template-areas:
      "cabecalho cabecalho cabecalho cabecalho"
      "principal principal menu-lateral menu-lateral"
      "rodape rodape rodape rodape";
  }
  
  .cabecalho {
    background-color: #292c35;
    grid-area: cabecalho;
  }
  
  .menu-lateral {
    
    grid-area: menu-lateral;
  }
  
  .principal {
   
    grid-area: principal;
  }
  
  .rodape {
    grid-area: rodape;
  }
  
  .item {
    border: 1px solid #00f4bf;
    text-align: center;
    font-size: 1.25em;
    font-weight: normal;
  }